<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="SiteCode" value="CLE"/>
        <add key="IssuedByCode" value="CLE"/>
        <add key="ProductCode" value="HWO"/>
        <add key="EmailAddress" value="alert@zackburns.com"/>
        <add key="SMTPServer" value="smtp.gmail.com"/>
        <add key="UseAuthentication" value="yes"/>
        <add key="SMTPPort" value="587"/>
        <add key="SMTPUserName" value="zacharyburns@gmail.com"/>
        <add key="SMTPPassword" value=""/>
    </appSettings>
</configuration>