<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Zones" value="OHZ006,OHZ003,ARZ015,TXZ165"/>
        <add key="UpdateFrequencyInMinutesIfNoEvent" value="15"/>
        <add key="UpdateFrequencyInMinutesIfWatch" value="7"/>
        <add key="UpdateFrequencyInMinutesIfWarning" value="1"/>
        <add key="NoEventSound" value="NoEvent.mp3"/>
        <add key="WatchSound" value="Watch.mp3"/>
        <add key="WarningSound" value="Warning.mp3"/>
    </appSettings>
</configuration>
